$buttons: (
    primary: $main-color,
    success: $success-color,
    danger: $danger-color
);

@keyframes spinLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button {
    display: inline-flex;
    font-size: 1em;
    border-radius: 2px;
    padding: .875em 5em;
    line-height: normal;
    outline: unset;
    box-shadow: unset;
    border: unset;
    white-space: nowrap;
    color: #fff;
    background-color: $black;
    font-family: $main-font;
    cursor: pointer;
    transition: background-color ease .16s, padding ease .16s;
    &:hover {
        background-color: lighten($black, 10);
    }
    &--loading {
        position: relative;
        padding-left: 3em;
        padding-right: 3em;
        margin-right: 4em !important;
        pointer-events: none;
        border-color: $black;
        &:after {
            content: "";
            position: absolute;
            width: calc(1.25em - 2px);
            height: calc(1.25em - 2px);
            left: calc(100% + 1em);
            top: .875em;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: inherit;
            border-right-color: transparent;
            border-top-color: transparent;
            animation-name: spinLoading;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}

@each $button-name, $button-color in $buttons {
    .button--#{$button-name} {
        background-color: $button-color;
        border-color: $button-color;
        &:hover {
            background-color: lighten($button-color, 10);
        }
    }
}

.button--loading--light {
    border-color: #fff;
}
.button--loading--dark {
    border-color: $black;
}

.button--small {
    padding: .75em 3em;
}