.card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid $border-color;
  &-photo, &-title, &-footer {
    flex-basis: 100%;
  }
  &-title, &-footer {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }
  &-photo {
    flex-basis: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &-title {
    h2 {
      font-weight: 500;
      margin-bottom: .25em;
    }
    h3 {
      font-size: 1em;
      font-weight: 300;
    }
  }
  &-footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    .price {
      display: inline-flex;
      align-items: center;
      margin-left: 1em;
      &-amount {
        margin-right: .12em;
      }
    }
    .like {
      margin-left: auto;
      .button {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}