// sizes
$container-max-width: 1200px;
$column-gap: 16px;
$form-elements-border-radius: 2px;

// colors
$black: #1F1F1F;
$black--lighter: #656565;
$main-color: #8884FF;
$link-color: #5762D5;
$success-color: #399E5A;
$danger-color: #DA5552;
//form elements
$input-text-color: #1F1F1F;
$input-placeholder-color: #b3b3b3;
$label-color: #404040;
$border-color: #e3e3e3;

// fonts 
$main-font: 'Open Sans';
$heading-font: 'Chivo';