// sizes
$container-max-width: 1200px;
$column-gap: 16px;

// colors
$black: #1F1F1F;
$black--lighter: #656565;
$main-color: #5737e8;
$link-color: #5762D5;
$success-color: #00D95E;
$danger-color: #EF4F54;

// fonts 
$main-font: 'Open Sans';
$heading-font: 'Chivo';