.form {
    &-row {
        display: flex;
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 1.25em;
        }
        label, input, .form__help {
            display: inline-flex;
            flex-basis: 100%;
            font-size: .875em;
        }
        label, input {
            margin-bottom: .5em;
        }
        label {
            font-weight: 300;
            color: $label-color;
        }
        input {
            height: 50px;
            padding-left: .875em;
            padding-right: .875em;
            font-weight: 300;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.04);
            border-radius: $form-elements-border-radius;
            transition: border ease .16s;
            &:focus {
                border-color: $black--lighter;
            }
        }
        input[type="checkbox"], input[type="radio"] {
            padding-left: unset;
            padding-right: unset;
            font-weight: unset;
            box-shadow: unset;
            border-radius: unset;
            margin-bottom: 0;
            flex-basis: unset;
            height: unset;
        }
        .form__help {
            color: $black--lighter;
            font-size: .75em;
        }
        textarea {
            width: 100%;
            min-height: 10em;
            border-radius: $form-elements-border-radius;
            padding: .875em;
            transition: border ease .16s;
            resize: vertical;
            font-size: .875em;
            &:focus {
                border-color: $black--lighter;
            }            
        }
        .select {
            position: relative;
            width: 100%;
            &:before, &:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 8px;
                height: 1px;
                background-color: $black--lighter;
            }
            &:before {
                right: 27px;
                transform: rotate(45deg);
            }
            &:after {
                right: 22px;
                transform: rotate(-45deg);
            }
            select {
                display: inline-flex;
                width: 100%;
                height: 50px;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-left: .875em;
                padding-right: 54px;
                transition: border ease .16s;
                border-radius: $form-elements-border-radius;
                &:focus {
                    border-color: $black--lighter;
                }
                option {
                    font-weight: normal;
                    display: block;
                    white-space: pre;
                    min-height: 1.2em;
                    padding: 0px 2px 1px;
                }
            }
        }
        &--success {
            input, select, textarea {
                border-color: $success-color;
            }
            .form__help {
                color: $success-color;
            }   
        }
        &--error {
            input, select, textarea {
                border-color: $danger-color;
            }
            .form__help {
                color: $danger-color;
            }   
        }
        &--checkbox {
            label {
                position: relative;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                span {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    bottom: 1px;
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                    background-color: transparent;
                    border: 1px solid $border-color;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 2px;
                        bottom: 2px;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        transition: transform ease .16s;
                        transform: scale(0);
                        background-color: $success-color;
                    }
                }
                input {
                    opacity: 0;
                    position: relative;
                    z-index: 3;
                    width: 12px;
                    height: 12px;
                    bottom: 2px;
                    margin-right: .8em;
                    margin-bottom: 0;
                    &:checked + span {
                        &:before {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        //  @TODO: &--checked  - &--radio - &--file have same method
        &--radio {
            h1, h2, h3, h4, h5 {
                flex-basis: 100%;
                margin-bottom: .5em;
                font-family: sans-serif;
                font-weight: 300;
                font-size: .875em;
            }
            label {
                cursor: pointer;
                position: relative;
                flex-basis: unset;
                &:not(:last-child) {
                    margin-right: 1em;
                }
                span {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    bottom: 1px;
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                    background-color: transparent;
                    border: 1px solid $border-color;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 2px;
                        bottom: 2px;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        transition: transform ease .16s;
                        transform: scale(0);
                        background-color: $success-color;
                    }
                }                
                input {
                    opacity: 0;
                    margin-right: .5em;
                    margin-bottom: 0;
                    &:checked + span {
                        &:before {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        &--file {
            h1, h2, h3, h4, h5 {
                font-size: .875em;
                flex-basis: 100%;
                margin-bottom: .5em;
                font-family: sans-serif;
                font-weight: 300;
            }
            label {
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $border-color;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    padding-left: .875em;
                }
                input {
                    opacity: 0;
                    margin: 0;
                }
            }
            &--name {
                label {
                    div {
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: block;
                        max-width: 12em;
                        height: 100%;
                        overflow: hidden;
                        text-align: left;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-right: .875em;
                        padding-left: .875em;
                        background-color: $black;
                        color: #fff;
                        line-height: 50px;
                    }
                }
            }
        }
        &--footer {
            button {
                margin-right: 1em;
                margin-bottom: 1em;
            }
            & > div {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                a {
                    padding-bottom: 1em;
                    font-size: .75em;
                    color: $input-placeholder-color;
                    transition: color ease .32s;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}