.grid {
    .r-col {
        padding: 16px;
        margin-top: 16px;
        background-color: $main-color;
        .inner {
            background-color: #fff;
            padding: 16px;
            .r-col {
                margin-top: 0;
            }
        }
    }
}