extends layouts/default

block classBlock
    - bodyClasses.push('button-page')
    - breadcrumb = 'Button Page'
    - pageId = 'button-page'

block content
    .r-row
        .r-wrap
            .r-col
                h1 Button
        .r-wrap
            .r-col
                h4 Dark
                button.button Button
        .r-wrap
            .r-col
                h4 Primary
                button.button.button--primary Button
        .r-wrap
            .r-col
                h4 Success
                button.button.button--success Button
        .r-wrap
            .r-col
                h4 Danger
                button.button.button--danger Button
        .r-wrap
            .r-col
                h4 Loading
                button.button.button--loading Button