extends layouts/default

block classBlock
    - bodyClasses.push('form-page')
    - breadcrumb = 'Form Page'
    - pageId = 'form-page'

block content
    .r-row
        .r-wrap
            .r-col.r-col--4
                .form
                    .form-row
                        label Email
                        input(type="email", class="form__input", placeholder="test@test.com")
                    .form-row.form-row--success
                        label Email
                        input(type="email", class="form__input", placeholder="test@test.com")
                        .form__help This email is correct.
                    .form-row.form-row--error
                        label Email
                        input(type="email", class="form__input", placeholder="test@test.com")
                        .form__help This email is incorrect.
                    .form-row.form-row--checkbox
                        label
                            input(type="checkbox", class="form__input")
                            span.checkbox-visualize
                            | I agree to the
                            a(href="#") terms and condition
                    .form-row
                        label Select
                        .select
                            select
                                option(value="default") Default Value
                                option(value="valueI") Value I
                                option(value="valueII") Value II
            .r-col.r-col--2
            .r-col.r-col--4
                .example-form
                    h1 Example Form
                    .form
                        .form-row
                            label Email
                            input(type="email", class="form__input", placeholder="test@test.com")
                        .form-row
                            label Password
                            input(type="password", class="form__input", placeholder="Your password")
                        .form-row
                            label Choose Topic
                            .select
                                select
                                    option(value="default") Default Value
                                    option(value="valueI") Value I
                                    option(value="valueII") Value II
                        .form-row.form-row--checkbox
                            label
                                input(type="checkbox", class="form__input")
                                span.checkbox-visualize
                                | I agree to the
                                a(href="#") terms and condition                            
                        .form-row.form-row--footer
                            button.button Submit
                            div
                                a(href="#") Forgot your password?