extends layouts/default

block classBlock
    - bodyClasses.push('grid')
    - breadcrumb = 'Grid'
    - pageId = 'grid'

block content
    .r-row
        .r-wrap
            .r-col.r-col--6
                .inner
                    .r-row 
                        .r-wrap
                            .r-col
                                .inner Col
                            .r-col
                                .inner Col
            .r-col.r-col--6
                .inner
                    .r-row 
                        .r-wrap
                            .r-col
                                .inner Col
                            .r-col
                                .inner Col
            .r-col.r-col--3
                .inner Col
            .r-col.r-col--6--mobile
                .inner Col
            .r-col.r-col--12
                .inner Col
