extends layouts/default

block classBlock
    - bodyClasses.push('grid')
    - breadcrumb = 'Grid'
    - pageId = 'grid'

block content
    .r-row
        .r-wrap
            .r-col.r-col--half
                .inner Col
            .r-col.r-col--half
                .inner Col
            .r-col.r-col--quarter
                .inner Col
            .r-col.r-col--half--mobile
                .inner Col
            .r-col.r-col--full
                .inner Col
