extends layouts/default

block classBlock
    - bodyClasses.push('home')
    - breadcrumb = 'Home'
    - pageId = 'home'

block content
    .r-row
        .r-wrap
            .r-col
                .logo 
                    span
                        | Revocss
        .r-wrap
            .r-col
                .title
                    p Lightweight css framework
            .r-col.r-col--12
                ul.nav
                    each item in [{"name": "Grid", "link": "grid"}]
                        li
                            a(href="/" + item.link + ".html")= item.name

